<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_fcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>item0</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>ttsub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>ttsub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>ttSub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>ttSub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>Item2</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_digital</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>Item3</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>Item4</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_cosmetic</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>Item5</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_baby</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>母婴用品</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_food</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>食品保健</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_jewelry</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>珠宝饰品</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_life</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>居家生活</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_car</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>汽车配件</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_outing</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>运动户外</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_electrical</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家用电器</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_furniture</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家具建材</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_culture</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>文化娱乐</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub1</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub2</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub3</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub5</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub6</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub7</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub8</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub9</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>Sub10</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub11</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>sub12</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
